
*{
  font-family: cascadia code;
}
.h1-text{
  background-color:black;
  color: white;
  text-align: center;
  margin-top: -10px;
  padding: 29px;
  margin-left: -13px;
  margin-right: -10px;
}


.array-bar {
  background-color:grey;
  display: inline-block;
  margin: 0 1px;
  width: 15px;
  height: 400px;
  padding-left: 0;
  padding-top: 10px;
  padding-right: 3px;

}
.array-barStyle{
  background-color: rgb(93, 92, 92);
  display: inline-block;
  margin: 0 1px;
  width: 25px;
  height: 100%;
}

#array-container {
  justify-content: center;
  align-items: center;
}



button{
  background-color: rgb(54, 52, 52);
  border-radius: 10px;
  height: 37px;
  width: 80px;
  color: white;
  cursor: pointer;
}

button:hover{
  background-color: rgb(60, 58, 58);
}

#genrateArray{
  height: 37px;
  width: 89px;
}

.sorted {
  background-color: rgb(76, 75, 75);
}

.header {
   justify-content: center;
   align-items: center;

}

.bar-container {
  display: inline-block;
  vertical-align:baseline;
}

.bar-label {
  text-align: center;
  margin-top: 10px; /* Adjust the spacing as needed */
  margin-left: 10px;
}

#message-container{
  margin-top:10px;
}


#footer {
  position: fixed;
  padding: 10px 0px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
  background: black;
  align-items: center;
  text-align: center;
  color: white;
  overflow: hidden;
}
span{
  color: white;
}

.external{
  margin: 0 auto;
}

#message{
  font-weight: bolder;
  font-size: larger;
}